[2015-01-05 22:17] darzu opened #1 "Getting started on Mac"
Hi!

I'm really new to Coq, and pretty new to unix. I'm trying to get PeaCoq running on OS X Yosemite. While installing PeaCoq, I encountered the following issues. I figured they may be useful to others and/or worth putting into a doc:
- I'm not sure what "cabal" is, but some Googling seems to suggest I should install the Haskell platform: https://www.haskell.org/platform/mac.html. So that's what

[2015-01-05 23:16] Ptival commented on #1
Hello, yes I forgot to explicitly list the dependencies, I will add a note about it. Thanks! :)

[2015-01-05 23:31] darzu commented on #1
Thanks @Ptival . How about for the last bullet point? I'm still confused on how to actually run peacoq..

[2015-01-05 23:35] Ptival commented on #1
Oh, you might need to add the cabal binary directory to your PATH environment variable. The path should be `~/.cabal/bin`.

[2015-01-05 23:41] darzu commented on #1
Ah thanks, I actually had to add `~/Library/Haskell/bin` to my path.

[2015-01-05 23:42] Ptival commented on #1
@Darzu ah yes, sorry, I am not used to Mac environment.

[2015-01-07 22:11] #1 closed, assigned to nobody

[2015-01-12 19:59] stechu opened #2 "start server error"
It happens after I pull the current master.

![screenshot 2015-01-12 11 59 05](https://cloud.githubusercontent.com/assets/720571/5709898/7f58a6e0-9a52-11e4-9923-2e7d806e983c.png)

[2015-01-12 20:10] Ptival commented on #2
Can you run

[code]

[2015-01-12 20:32] stechu commented on #2
Yes, is there any assumption on installation folder or log folder?
got the error below.
![screenshot 2015-01-12 12 31 06](https://cloud.githubusercontent.com/assets/720571/5710442/eb090e30-9a56-11e4-9a2a-7c3287ac1e56.png)

[2015-01-12 20:53] Ptival commented on #2
Ah, you must have an old version of my config file. Could you please post
the contents of the file ~/.PeaCoqConfig.hs

What will probably solve the problem is deleting said file and running
setup.sh again. Sorry about this, you can ssh to attu or a cycle machine if
you want to avoid the trouble... ;-)
On Mon Jan 12 2015 at 12:50:34 PM Shumo Chu notifications@github.com
wrote:

[2015-01-12 21:52] stechu commented on #2
@Ptival  It works!
Thanks a lot!

[2015-01-12 21:53] #2 closed, assigned to nobody

[2015-01-13 02:48] darzu opened #3 "Basic help: keyboard shortcuts"
I'd be nice to have a list of keyboard shortcuts accessible from somewhere within the app or readmes.

[2015-01-13 02:50] darzu opened #4 "Highlighting + typing doesn't replace the highlighted region"
If I highlight a region then type e.g. "a", an "a" gets inserted at the cursor position but the highlight region isn't deleted like I would expect.

[2015-01-13 03:09] Ptival commented on #4
So, I have a fix for this, however it has the drawback that the action is not undoable.

I am working on a new version of the editor where most things would work better and be undoable, in the meantime I will probably push that less satisfactory patch tonight.

Keeping this open as a reminder! :)

[2015-01-13 03:26] darzu opened #5 "Parenthesis matching would be wondrous!"
Probably not the easiest feature ever, but counting parenthesis manually is pretty tedious.

[2015-01-13 03:27] darzu commented on #4
Got it. Thanks for the hard work!

[2015-01-13 03:29] darzu opened #6 "[low-pri] More eager syntax highlighting"
A nice-to-have, not need-to-have. But it'd be nice if the syntax highlighter kicked in a bit more eagerly, or at least if there was a keyboard shortcut to invoke it.

[2015-01-13 03:34] darzu commented on #4
Actually, on second thought, I'd probably opt for keeping things as-is until undo would be available because I think having undo is probably more important and safer than having the highlight deletion which is really just a convenience.

But either way, it's not a big difference.

[2015-01-15 22:19] emackay opened #7 "Syntax Error: Lexer: Unsupported Unicode character (0x200b)"
It seems that either when loading or saving a PeaCoq file, it might be inserting these Unicode characters. I believe this is a zero-width space or something. Since these characters aren't visible, it's not easy to find and delete them

[2015-01-15 22:34] Ptival commented on #7
Hi,

Indeed PeaCoq uses this invisible character as a way to trick the browser into doing the right things. Could you please indicate on which machine you have had this problem?

I pushed changes that should get rid of this character upon reloading the file. If you refresh your browser, you should hopefully be able to load this file and continue working.

[2015-01-15 22:39] emackay commented on #7
I am on attu. After refreshing my browser, it seems to work perfectly now. Thanks!

---

Eric W Mackay
University of Washington
PhD Student, Computer Science and Engineering
CSE 410

[2015-01-15 22:43] #7 closed, assigned to nobody

[2015-01-27 23:09] Ptival commented on #6
Right now this is complicated by the fact that it is complex to keep track of the caret position when syntax highlighting is done.

In the current setup, the full text is passed to highlight.js which returns a highlighted DOM. I do not know yet how to map the caret position in the original text to a position in the resulting DOM.

[2015-01-27 23:15] Ptival commented on #4
Fixed by b69f9193d98d4c68d90cee857e5fdf6df176478c

[2015-01-27 23:15] #4 closed, assigned to nobody

[2015-01-27 23:15] Ptival commented on #3
Fixed by c302758d0872c92a165c8fdb64b51df383332c3c

[2015-01-27 23:15] #3 closed, assigned to nobody

[2015-01-28 00:01] ztatlock commented on #6
Could this help?

https://developer.mozilla.org/en-US/docs/Web/API/document.caretPositionFromPoint

[2015-01-28 00:02] ztatlock commented on #6
Here's one way to do it maybe?

http://stackoverflow.com/questions/8035010/contenteditable-true-creating-a-syntax-highlighted-input-form

[2015-01-28 00:06] ztatlock commented on #4
Is undo supported?

On Tuesday, January 27, 2015, Valentin Robert notifications@github.com
wrote:

##

Sent from a mobile device.

[2015-01-28 00:07] ztatlock commented on #3
Nice.

On Tuesday, January 27, 2015, Valentin Robert notifications@github.com
wrote:

##

Sent from a mobile device.

[2015-01-28 00:14] Ptival commented on #6
@ztatlock Damn, that's cool, I'm already using Rangy too, it should be easy now! Let's try!

[2015-01-28 06:18] Ptival commented on #4
Undo is only supported for actions that do not need to be emulated to function correctly.

In particular, Undo is not supported for:
- cut and paste
- inputing a newline character (Enter)
- hitting Backspace

[2015-01-28 19:46] emackay opened #8 "Being able to go back and forth between the text mode of a proof and the proof tree"
It would be extremely useful if we could go back and forth between entering the tactics of a proof as text and the proof tree, because I often don't know what tactics make sense in this context, or I may just want a little nudge in the right direction, so being able to have the proof tree incorporate as much of the proof as we have filled in and then go on from there would be great. And after fill

[2015-01-28 21:00] Ptival commented on #8
Hey Eric,

Obviously this is something I would love too! :)

It turns out it is subtle in the way PeaCoq is working right now. But there is hope, as I have changed PeaCoq quite a lot over the past few weeks and removed some of the barriers that made this challenging.

The current problem is that there is no bijection between PeaCoq's state and the editor buffer state, because PeaCoq processes thin

[2015-01-29 09:06] ztatlock commented on #4
Lol, can't undo Backspace.

Is this fundamental?

On Tue, Jan 27, 2015 at 10:18 PM, Valentin Robert notifications@github.com
wrote:

[2015-01-29 09:23] Ptival commented on #4
Sorry, actually it's only Backspace for the first character after the locked region.

It's fundamental because I emulate some interactions where the default browser implementation would mess things up.

[2015-02-02 22:29] darzu opened #9 "Allow saving with ctrl-s"

[2015-02-03 00:37] ztatlock commented on #9
+1

[2015-02-03 00:42] Ptival commented on #9
:earth_africa:, :dash:, and :fire:, where is the :heart: for :droplet:?

[2015-02-06 20:29] tune-george opened #10 "Wrong child displaying when focusing on n-th subgoal"
This happened in [homework 2](http://courses.cs.washington.edu/courses/cse505/15wi/hw02/hw02.v) when trying to prove Lemma step_None_Skip. Apparently it's a bug.

Server revision: d07b3a65beb76dd8d7cce3b1fbe58f2eef455df9
Client revision: 63caf0106e6fc4022f038b750b27dafa47584526

![image](https://cloud.githubusercontent.com/assets/7853891/6086986/083d731c-adfb-11e4-93b3-78cdd3b54f0c.png)

[2015-02-06 20:37] Ptival commented on #10
Yeah, I know about this bug, though I can never reproduce it on my machine.

What you can do to avoid this bug is to process your subgoals in order. In fact I should probably disable the ability to work through them in different order until I figure out a safer way to do so...

[2015-02-08 00:24] ztatlock commented on #9
https://www.youtube.com/watch?v=xycnv87N_BU

[2015-02-08 00:34] #10 closed, assigned to nobody

[2015-03-10 20:25] Ptival opened #11 "Jitter bug"
Here's the summary of the jitter bug:

The bug manifests itself by the diffs jumping around whenever an asynchronous node is added to the tree.
The problem has to do with object constancy. The diffs are recomputed and their constancy is lost in the process. The new ones appear where the old ones should have eventually reached, which effectively looks like they are jumping there.

To fix the proble

[2015-03-24 01:30] Ptival commented on #9
Fixed by 198cc67 with Ctrl-Alt-(L/S)

[2015-03-24 01:30] #9 closed, assigned to Ptival

[2015-03-24 01:31] Ptival commented on #8
Fixed in branches seamless and codemirror.

[2015-03-24 01:31] #8 closed, assigned to Ptival

[2015-03-24 01:31] Ptival commented on #6
Fixed in branch codemirror with a better syntax highlighter too!

[2015-03-24 01:31] #6 closed, assigned to Ptival

[2015-03-24 01:32] Ptival commented on #5
Fixed in branch codemirror.

[2015-03-24 01:32] #5 closed, assigned to Ptival

[2015-03-24 01:33] Ptival commented on #11
There is still some jitter, probably due to how nodes move around a lot when the tree layout is recomupted for each new child.

This is also emphasized by another visual bug where branches are created in weird places.

[2015-03-26 06:36] Ptival opened #12 "Search highlight interferes with documentation"
When search results are highlighted, the span structure is altered. This may result in failing to fetch the proper documentation if a tactic is partially highlighted.

To reproduce:
- write "rewrite H."
- Ctrl+S for "rewr"
- hover over the word rewrite

Now the structure is:

<span class="cm-tactic cm-cm-overlay cm-searching unlocked">rewr</span>
<span class="cm-tactic unlocked">ite</span>

And th

[2015-04-04 00:00] Ptival opened #13 "Backtracking can cause infinite loop in proof tree mode"
When in the second branch of a multi-branching tree, attempting to quickly back a few steps will lead to an infinite loop.

The culprit function is undoUntilNode, where the destination node is missed, leading to infinite recursion.

[2015-04-04 00:03] Ptival opened #14 "Bug in parsing or printing precedence"
The following goal:

[code]

displays incorrectly:

[code]

[2015-04-04 00:36] Ptival commented on #14
[code]

[2015-04-04 00:59] #14 closed, assigned to Ptival

[2015-04-04 20:53] Ptival opened #15 "Editor should insert a space before a command if there is none"
This used to be the case but I must have removed that feature, and it poses problem when backtracking, as the engine undoes a tactic, but the editor undoes two.

To reproduce:

[code]

Process to intro, then type another intro without any space after the previous period.

What should happen is that the editor inserts a space after the first intro's period.

[2015-05-19 03:59] lukenels opened #16 "Failed cabal dependency resolution with base 4.8.0.0"
peacoq.cabal specifies base < 5 and ghc < 0.4, yet base4.8.0.0 has a dependency of ghcprim ==0.4.*
This dependency can't be satisfied and either the base < 5 dependency should be changed to base <4.8 or support should be added for ghc7.10.1 with base 4.8.0.0

In general, in a version A.B.C, changes in B can represent API breaking changes and it's usually not a good idea to indicate support for a p

[2015-05-19 20:39] #11 closed, assigned to Ptival

[2015-05-19 20:39] #16 closed, assigned to nobody

[2015-06-01 02:46] Ptival opened #17 "PeaCoq does not support "Proof with (...).""

[2015-06-15 21:35] Callejn commented on #2
Hi, I just thought that I should point out that this happened to me today; I cloned the repo, I ran setup.hs and cabal install, got the above error message. I then altered start-peacoq.hs (don't know if this matters; what I changed was basically the definition of ZACKHOME to be echo ~ instead of what was there before). I deleted ~/.PeaCoqConfig.hs and ran setup.hs and cabal install again, and it w

[2015-06-15 21:52] Ptival commented on #2
@Callejn Oh, thanks! There must be leftovers from a user study run at UW, I will try to fix this ASAP.

[2015-06-15 21:53] Ptival commented on #2
@Callejn Actually, the start-peacoq.sh and stop-peacoq.sh were here to help students, but if you use PeaCoq personally, you can start it by:

[code]

No need to use the shell scripts.

[2015-06-16 13:43] Callejn commented on #2
@Ptival, ok, I wasn't sure if it mattered or not, just thought that I should mention it. I did get it working after I deleted ~/.PeaCoqConfig.hs and ran setup.hs again (and I must say that it seems very nice, by the way!).

But I found it strange that I did get the wrong ~/.PeaCoqConfig.hs the first time but not the second time. Maybe something in the setup is done in wrong order, making the confi

[2015-06-19 18:46] gasche opened #18 "Automatically inserting `Qed` and going out of proof mode is inconvenient"
Here was my interaction and why I found it inconvenient.

I thought I could use "replace" to finish a proof but forgot about the "by auto" to say the equality proof was trivial. Because the equality goal is the second one (and I wanted to check it was indeed trivial before going on), I admitted the first goal and indeed discharged the second one with "auto". But then PeaCoq noticed that the proof

[2015-06-25 01:47] ghost opened #19 "Proof search should suggest "apply I" when the goal is "True"."
Subject says it all. :-) It's mildly surprising that if the goal is "True", PeaCoq gets stuck:

![voila_capture 2015-06-24_06-44-48_pm](https://cloud.githubusercontent.com/assets/93832/8345271/510908d2-1aa1-11e5-965c-3fb8629bd293.png)

Nothing an "apply I." won't fix!

[2015-06-25 01:55] ghost opened #20 "Make proof search for contradictions more aggressive?"
This one may be asking a bit much:

![voila_capture 2015-06-24_06-50-37_pm](https://cloud.githubusercontent.com/assets/93832/8345317/208a2fbe-1aa2-11e5-9706-a64852a6fc65.png)

The goal is False, Knight B is a hypothesis, and there's a nice, juicy contradiction bi-implied by it. This case is especially frustrating because we get a useless suggestion of `apply C_says in H.` when it's really `apply B

[2015-09-26 18:52] wtonribeiro opened #21 "Error Installing in Debian Weezy"
Dear,

I got an error in installing PeaCoq on Debian Weezy:

cabal install
Resolving dependencies...
cabal: Could not resolve dependencies:
trying: peacoq-0.1 (user goal)
next goal: base (dependency of peacoq-0.1)
rejecting: base-4.5.0.0/installed-40b... (conflict: peacoq => base>=4.8 &&
<4.9)
rejecting: base-4.8.1.0, 4.8.0.0, 4.7.0.2, 4.7.0.1, 4.7.0.0, 4.6.0.1, 4.6.0.0,
4.5.1.0, 4.5.0.0, 4.4.1.0,

[2015-09-26 19:43] ztatlock commented on #21
I believe this may be caused by an old GHC install.

Please install GHC 7.10.2 (the current version shipped with the Haskell platform) and give it another try.

Good luck!  Please keep us posted on any issues that may come up.

[2015-09-28 14:43] wtonribeiro commented on #21
Perfect Zach!

I've used the binary generic package of the haskell platform and everything works!

Best
![peacoq](https://cloud.githubusercontent.com/assets/7083604/10138687/197df884-65d6-11e5-9f96-34e260b9ceb3.png)

[2015-09-28 14:43] #21 closed, assigned to nobody

[2015-09-29 06:18] ztatlock commented on #21
Awesome, glad it worked :)  Keep us posted on any issues you come across and happy hacking!

[2015-10-01 14:25] saludes opened #22 "git is needed to run the server"
Not really an issue but you might want to mention that `git` is required to **run the server**. I did:

[code]

and got:

[code]

(Why I didn't have `git` in the first place? Because I built and ran _PeaCoq_ in a docker container, but cloned it previously in a host volume)

[2015-10-01 14:31] ztatlock commented on #22
Thanks for the heads up!  I didn't realize git was needed for starting the server.  I added a note in the README.

I've just started looking into packaging PeaCoq for docker.  Are you going to post a container?  Did you come across any other issues?

Thanks for letting us know about the git requirement!

[2015-10-01 14:43] saludes commented on #22
Didn't think of it, but I can pass a  `Dockerfile` if interested.

Yes. I'm using a `haskell` image that has `ghc` version  7.10.1, not 7.10.2. So I needed to patch `HUnit-1.3.0.0` (deleting the `HAS_SOURCE_LOCATIONS` conditionals) to install it.

[2015-10-01 14:47] ztatlock commented on #22
That would extremely helpful!  Thanks :)

Is this patch necessary for your docker setup?  If so, we'd love to have it too.

Thanks so much for checking our PeaCoq!  If you don't mind us asking, what are you using it for?

[2015-10-02 11:12] saludes commented on #22
Here you are:

[code]

I realized that now the `haskell:latest` image actually runs `ghc-7.10.2`, so no need for the patch.

My frustrated attempts to run `emacs` on a container and having the windows (via  Xserver) in the host made me to consider other possibilities.

I love the graphical show of possible tactics at a given point. (it needs polishing though).

[2015-10-03 22:39] Ptival commented on #22
Should be fixed by 1bc71af8d6f8bc90680cae777a2ac7c537e2b4be.

Thanks for the docker script, I'm adding such things to the repository!

[2015-10-03 22:39] #22 closed, assigned to nobody

[2015-11-10 00:53] emichael opened #24 "Docker image fails to build"
I get the following error when I try to build the Docker image:

[code]

[2015-11-10 01:22] Ptival commented on #24
Thanks for the patch. Actually, we might also get rid of that pcre dependency thanks to #23.

[2015-11-10 01:45] emichael opened #26 "firstorder causes proof tree to hang"
I can send you the code to repro the issue if you need it. `htop` shows minimal memory usage (out of 16GB) and 1 of 8 cores being used 100% on a single coqtop ideslave.

Even after the user clicks on another tactic in the tree, the server still hangs on trying firstorder.

[2015-11-10 02:00] Ptival commented on #26
Is it a goal that should be solved immediately?

What happens under other Coq IDEs?

[2015-11-10 02:04] emichael commented on #26
No, it shouldn't be solved. I'll try tomorrow, but I'm sure CoqIDE would
hang, too, if you actually tried to use firstorder.

The issue is that firstorder is only ever called because the proof tree is
looking at suggestions for the next tactic.

On Monday, November 9, 2015, Valentin Robert notifications@github.com
wrote:

##

Ellis

[2015-11-10 02:11] Ptival commented on #26
I see. In general it is indeed a bad idea to call `firstorder` without a timeout (or actually, all tactics).

I'll try to look into implementing a timeout safety, I believe there was a tactical for that.

[2015-11-10 03:32] emichael commented on #26
In addition to a timeout, immediately halting all the tactics the proof tree is trying when the user selects a tactic might be a good idea.

[2015-11-10 03:33] emichael commented on #24
Okay, sounds good. You might try using Docker Hub to store and automatically update the image, both so users don't have to go through the lengthy install and for continuous testing of the build process.

[2015-11-10 18:32] ztatlock commented on #24
+1 for Docker Hub

On Mon, Nov 9, 2015 at 7:33 PM Ellis Michael notifications@github.com
wrote:

[2015-11-10 21:55] #24 closed, assigned to nobody

[2015-11-11 02:10] Ptival commented on #24
re. Docker Hub, I have been trying to use it to no success this afternoon.

10 minutes after a build job is created, it goes to status error and the entire contents of the build page get deleted.

[2015-11-11 06:59] emichael commented on #24
That is really odd. The same thing happened to me, but the build actually succeeded. Maybe they delete logs after successful builds? If yours didn't actually succeed, did you specify the docker file location (`/docker/`) on the Build Settings tab?

[2015-11-11 07:11] emichael commented on #24
Okay, on the next build for me apt-get timed out on fetching packages for some reason, and the entire build failed. At least it saved the logs that time, though.

If the automated build feature on Docker Hub is kind of broken, Travis CI might be a better solution. See http://docs.travis-ci.com/user/docker/

[2015-11-11 16:54] Ptival commented on #24
I got the Docker Hub started at:
https://hub.docker.com/r/ptival/peacoq/

And a Travis CI started at:
https://travis-ci.org/Ptival/PeaCoq

[2015-11-11 19:53] emichael commented on #24
Nice!!

I have no idea why docker hub builds keep failing, but at least if some of them succeed, that will be good enough.

[2015-11-11 20:00] Ptival commented on #24
Yeah, I don't have a good Internet here to try the succesful ones but I'll
try and check it they actually work soon.

It would be nice if the broken ones had a log, right now their website is
pretty useless... :(

On Wed, Nov 11, 2015 at 11:54 AM Ellis Michael notifications@github.com
wrote:

[2015-12-18 08:54] 13Kill opened #27 "Does that support JAVA non-script?"
And some soft Ocml things. Ya know. Chill.

[2016-02-15 19:11] corwin-of-amber opened #28 "Mac: failed to run"
After a fresh build from GitHub clone, running

[code]

And then navigating to `http://localhost:7000`, the UI appears but then an alert box shows up with the message: "Server did not respond!"

The log contains the error (occurring multiple times):

[code]

Same behavior using Safari 9, Firefox 44, and Chrome 48.

Attached `.log`, `-access.log`, and `-error.log`: [peacoq-logs.zip](https://github.

[2016-02-21 23:15] Ptival commented on #28
I'm a little busy at the moment working on a new version of PeaCoq.

Did you run the setup script? Could you make sure that your ~/.PeaCoqConfig.hs contains a coqtop command, and that this command works in your terminal?

In particular, which Coq version are you running? I believe master is not compatible with 8.5.

[2016-02-21 23:24] corwin-of-amber commented on #28
Switching to 8.4 solved this issue; looks like the `-ideslave` flag does not work with 8.5:

[code]

Will try the coq8.5 branch too!

[2016-02-21 23:24] #28 closed, assigned to nobody

[2016-02-21 23:32] Ptival commented on #28
Hah, I think you should wait before trying the coq8.5 branch though, the setup script is not up-to-date, and there are still a few moving pieces. But I have hopes of getting everything rolling in the coming weeks!

[2016-03-03 16:04] #13 closed, assigned to Ptival

[2016-03-03 16:04] #12 closed, assigned to Ptival

[2016-03-03 16:04] #15 closed, assigned to Ptival

[2016-03-03 16:04] #17 closed, assigned to Ptival

[2016-03-14 19:14] tbelaire opened #29 "Unsupported unicode character:0x200b"
HI, I was trying to try this out, and after I tried to navigate back to the editor pane to do an `exact H`, things got a little weird.  I still could complete the proof, but afterwards I got the error

[code]

I think it went wrong at line 629 in this file.
https://gist.github.com/21a092c40970aa2cde1e

[2016-03-14 19:22] Ptival commented on #29
Hi Theo,

This must have happened because of the way the old PeaCoq managed to separate the different parts of the buffer, using an invisible separating character. Sometimes, a hiccup results in the invisible character staying in the buffer somewhere.

I am most likely not going to fix this as I am working on the new version which does not use the same hack.

If this happens, try moving your curso

[2016-03-14 22:44] tbelaire opened #30 "Showing proof context"
Hi, this is an idea I've had to use peacoq's existing work to generate annotated coq files to get things like

http://homes.cs.washington.edu/~jrw12/dep-destruct.html

where you can mouse over the proof in the post and read it.

Long term idea is to get that working on some sort of pastebin.

[code]

Generating the *context sections automatically.

I'm just poking around, but if you have any ideas

[2016-03-15 00:01] Ptival commented on #30
Sounds like a pretty good idea. I could see it work in two ways:
- one would be to just have the contexts statically. with the way the editor works now, this should be fairly simple, as you can already move your cursor around to see goals at different points in time.
- one would be to use something like jscoq to actually have dynamic code that you could alter and run. It would be a bit more work.

[2016-03-16 18:16] tbelaire commented on #30
The problem I was aiming at was making it nicer to post problems in the irc channel and have people
follow the proof state without needing to copy it to their local disk first.
It would also be awesome for blogging about coq.

I'm leaning towards just statically generating the contexts by using peacoq as a library and just having a little command line tool step through the file, feeding it piece b

[2016-04-17 06:49] Kuznetsov2100 opened #31 "Could you port the PeaCoq to windows?"
Would the team consider the windows version?

[2016-04-19 08:48] #31 closed, assigned to nobody

[2016-04-26 21:30] Ptival commented on #31
Sorry, the team is just me, and yes I would consider it. :-) The client side should be completely OS-agnostic, just browser-dependent. But the server might be another story, but I'm sure it could be built on Windows.

[2016-04-27 12:00] tbelaire opened #32 "setup for Test.hs"
What's required to build the ml modules and install them so that `Test.hs` works?

[2016-04-27 18:49] Ptival commented on #32
Right now `Test.hs` will only work on my machine, because I hardcoded the coqtop path.

You can replace the coqtop line to only contain:

[code]

As long as you don't use the `addGoalContext` function and remove the lines in `main` that are PeaCoq-specific. That way you can interact with coqtop using the XML protocol.

If you actually want to use the `PeaCoqGetContext.` plugin command, then you ne

[2016-04-27 21:05] tbelaire commented on #32
Alright, sounds good.

[2016-04-28 01:34] tbelaire commented on #32
Cool, it works okay now.

https://github.com/tbelaire/PeaCoq/blob/Coq-Annotator/src/Coq-Annotate.hs

[code]

[2016-04-28 19:03] #32 closed, assigned to nobody

[2016-04-28 19:04] tbelaire commented on #32
It's pretty much working now.  I can route my example file though the whole system and get an html file which works.

[2016-04-28 19:06] Ptival commented on #32
Great news!

Let me know if there's any code change that would make things simpler to use.

[2016-04-28 19:12] tbelaire commented on #32
It would be nice to build this as a library, so I can just depend on it in a separate cabal project.  And I didn't want to make that change on my own, as it's kinda architectural.

[2016-04-28 19:16] tbelaire commented on #32
In particular, I think that PeaCoq, Sessions, Handlers and so on make sense as a separate executable listing from the rest of the coqtop communication library.

Something like this:
http://stackoverflow.com/questions/12305970/how-to-make-a-haskell-cabal-project-with-libraryexecutables-that-still-run-with

might be  good.

Next on things I need to do is port coq-lit.py into Haskell and generate thi

[2016-05-03 22:50] #29 closed, assigned to Ptival

[2016-05-05 09:13] hugovincent opened #35 "Typescript fails to build on latest version of typescript compiler"
It seems that perhaps some recent changes upstream in the Typescript compiler cause the build to fail:

[code]

In addition, [`web/package.json`](https://github.com/Ptival/PeaCoq/blob/master/web/package.json) doesn't peg versions (same for bower), so this is likely to keep happening in the future, and it's not easy to see which versions of npm components the project maintainers are using. I'd reco

[2016-05-05 17:50] Ptival commented on #35
Yeah I know this happens and how to fix it, but the fix makes me think I'm doing something wrong.

It seems I need to add a <reference path> because the .d.ts does not get found by tsc. But adding it into any of the files works, which is weird. I guess I'll put it in the main file for now, but I feel like there should be a way to have tsc find them...

Re `package.json`, I'll have to fix those num

[2016-05-05 18:48] Ptival commented on #35
Ah I understand now. `tsc` will ignore definition files if they have the same name as a non-definition file (I guess it assumes it's the interface file for that file).

I moved the definition files to a separate location so that `tsc` picks up on them.

[2016-05-05 20:38] Ptival commented on #35
Fixed in 7455fb8.

[2016-05-05 20:38] #35 closed, assigned to nobody

[2016-05-05 20:40] Ptival commented on #27
:-1:

[2016-05-05 20:40] #27 closed, assigned to nobody

[2016-05-05 22:03] hugovincent commented on #35
Brilliant, thanks, that fixes that problem. I now get a runtime error (in the browser console) when running:

[code]

I also get no output. Is that expected at this stage in the project? It looks (from the server console) like it's correctly invoking Coq and running code, but the output panes are all blank. (Do you want me to open a new issue for this?)

[2016-05-05 22:12] darzu opened #36 "Trouble on "Building OCaml plugin" setup.sh step"
When I run ./setup.sh, I've gotten everything to work up until the "Building OCaml plugin" then I get some sort of infinite loop. Attached is an example trace: [error.txt](https://github.com/Ptival/PeaCoq/files/251282/error.txt). I think it has to do with the Makefile.coq, specifically running "make clean" inside the plugin folder reproduces the issue for me.

I'm on OSX 10.11.4 (15E65).

[2016-05-05 22:13] Ptival commented on #35
Thanks! Fixed that one with fb6b2f6.

[2016-05-05 22:25] hugovincent commented on #35
Perfect, many thanks. Still no output, but at least no errors now. I'll try to diagnose what's going on and if necessary open a new issue tomorrow.

[2016-05-05 22:31] Ptival commented on #36
Hey Daryl,

Can you figure out where this `(cd ./Peacoq...)` line comes from? Is it in your generated `plugin/Makefile.coq`?

[2016-05-05 22:33] Ptival commented on #35
What code are you trying to run?

On Thu, May 5, 2016 at 3:27 PM Hugo Vincent notifications@github.com
wrote:

[2016-05-06 00:07] darzu commented on #36
Hey Val,

Yeah, it's in [Makefile.coq.txt](https://github.com/Ptival/PeaCoq/files/251383/Makefile.coq.txt). Maybe I can regenerate this file somehow?

[2016-05-06 00:11] darzu commented on #36
Also, I think this is unrelated but when I initially tried to run `setup.sh` I got this error:
`./setup.sh: line 19: NIX_LDFLAGS: unbound variable`. I got around this by commenting out lines 19-25 & 28. Maybe that mixed things up?

[2016-05-06 01:19] Ptival commented on #36
That one was my fault, it should be fixed if you pull.

Could you erase everything in plugin/, then checkout the files that are
versioned, and rerun setup?

If it fails, send me the contents of your Makefile.coq, it looks like it is
being dumb. :(

On Thu, May 5, 2016, 17:12 Daryl Zuniga notifications@github.com wrote:

[2016-05-06 01:48] darzu commented on #36
I rm'ed my plugin/ folder and I'm still seeing the same thing. Here's my new
[Makefile.coq.txt](https://github.com/Ptival/PeaCoq/files/251440/Makefile.coq.txt).

Also, I now get this error `./setup.sh: line 19: [: -v: unary operator expected` but setup.sh ignores it and continues.

[2016-05-09 18:07] darzu commented on #36
Julie is also having the exact same issue on her Mac. @deGravity however seems to have gotten in working on Arch Linux. Any thoughts on how to proceed, @Ptival? We're thinking about working off of an older commit because we're all able to get PeaCoq from the 505 timeframe working.

[2016-05-09 18:40] Ptival commented on #36
What happens if you just remove the make clean part of the setup.sh?

It seems like it's giving you trouble and it's really not necessary, just
here to make sure the plugin gets rebuilt because I don't really track its
changes well.
- Valentin

On Mon, May 9, 2016 at 11:08 AM Daryl Zuniga notifications@github.com
wrote:

[2016-05-09 18:43] Ptival commented on #36
Huh, I did not see your `-v` error. I hate shell scripts... :(

If you know a portable way of testing whether a variable is set, let me know. I'll ask around if anyone has a Mac I could use to test this.

[2016-05-09 21:33] darzu commented on #36
Thanks, commenting out lines 38-40 let the script finish. Now I can run the server however I'm not able to progress the type checker in any proof scripts. I'll try for a little while and then open another issue if I can't figure it out!

[2016-05-09 21:41] Ptival opened #37 "Fail loudly when the wrong version of coqtop is found"
Right now the server runs without a warning!

[2016-09-22 00:09] Ptival commented on #18
Not relevant anymore.

[2016-09-22 00:09] #18 closed, assigned to nobody

[2016-09-22 00:12] Ptival commented on #36
PeaCoq components are now checked under linux and osx on Travis:

https://travis-ci.org/Ptival/PeaCoq/builds
https://travis-ci.org/Ptival/peacoq-plugin/builds
https://travis-ci.org/Ptival/peacoq-server/builds

This should prevent this kind of issue in general.

[2016-09-22 00:12] #36 closed, assigned to nobody

[2016-10-22 00:13] Zimmi48 opened #38 "Building PeaCoq on NixOS"
Hi Valentin,

When I saw this today, I was quite happy:

[code]

But to get there, I had to guess that I needed to call `./setup.sh` before `nix-shell`. Indeed, `shell.nix` depends on `peacoq-server/peacoq-server.nix` but this file doesn't exist until we clone the appropriate repository, something that `./setup.sh` does for us if we give it the chance (but since it appears later in the instruction

[2016-10-25 21:12] langston-barrett opened #39 "Online demo"
Would be pretty slick :wink:

I'm thinking something like https://try.jupyter.org/

[2016-10-25 21:16] langston-barrett opened #40 "Description and screenshots in README"
[This blog post](http://goto.ucsd.edu/~vrobert/coq-en-stock/blog/2015/06/03/introducing-peacoq/) discusses the tool in detail with screenshots. Some of that information should probably be included on the website and in the README! In fact, the website should probably just be an HTML version of the README.

[2016-10-25 21:17] langston-barrett commented on #39
The blog post references a demo, but it doesn't work: http://goto.ucsd.edu:4242/

[2016-10-25 23:16] Ptival commented on #39
Indeed, I haven't maintained the demo, and I don't have one at the moment.

Soon™ 🙃

[2016-10-27 13:30] Zimmi48 commented on #38
Digging a bit more I found a few pieces of info that seem to show that there is no point in using Opam with Nix: https://github.com/NixOS/nixpkgs/issues/14466
I'll make some tests and maybe submit a PR to make `shell.nix` not rely on Opam.

[2016-10-28 01:41] Ptival commented on #38
Hey Théo,

A patch for this would be awesome. I haven't digged into it, but yeah, the less "setup" we need, the better it is.

[2016-11-05 17:12] Zimmi48 commented on #38
Still working on this: I have submitted a PR to add a missing OCaml package SerAPI depends on to nixpkgs (https://github.com/NixOS/nixpkgs/pull/20164). Once this is merged, I should be able to submit a PR listing all dependencies without Opam.

[2016-11-05 17:53] Zimmi48 commented on #38
By the way, I see that you have clones of various Haskell packages with Nix derivations. Is there a reason for not integrating these upstream (in nixpkgs)?

[2016-11-05 18:07] Ptival commented on #38
Do you mean all the snap-framework-related packages?

At the time, I think I wanted to use the newer version (1.0) that was not yet released on hackage.

Then I don't remember but I encountered all sorts of errors with zlib, so I ended up not touching it as soon as it worked. I have to try upstream and see if I can remove all this crazy logic yeah... You can try if you want.

[2016-11-05 18:13] Zimmi48 commented on #38
Yes, this is what I mean. I have not much experience with Nix and Haskell but I might try (not next week though, I'm going to be too busy for that).

[2016-11-10 17:17] Zimmi48 commented on #38
So #42 is the promised PR replacing Opam with Nix.

I'm thinking that something similar could be achieved for npm as well, but we'll see.

Also, it could make sense to see if we can provide just a Nix derivation for SerAPI instead of cloning it and building it like `setup.sh` does currently. But I think it is safer to wait for https://github.com/ejgallego/coq-serapi/issues/25 to get closed first,

[2016-11-10 17:24] Ptival commented on #38
Oh yeah, currently the server would be in peacoq-server/dist or something,
it does not get symlinked to the top-level directory.

On my phone right now, will check in ~1 hour.

Thanks for the PR!

On Thu, Nov 10, 2016, 09:17 Théo Zimmermann notifications@github.com
wrote:

[2016-11-10 17:25] ejgallego commented on #38
@Zimmi48 , I'll be happy to provide a NiX derivation for SerAPI.

How is Coq installed with NiX ?

[2016-11-10 18:28] Zimmi48 commented on #38
@ejgallego Thanks for the interest ;)

Coq has its own Nix derivation, which would allow SerAPI's derivation to depend on it. Actually it has one distinct derivation per version (one for [8.3](https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/science/logic/coq/8.3.nix), one for [8.4](https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/science/logic/coq/default.nix), one for

[2016-11-10 19:13] ejgallego commented on #38
@Zimmi48 ok, I'll add Nix support when Coq 8.6 makes into Nix.

[2016-11-10 19:14] ejgallego commented on #38
For the shorter term, doing `opam install coq-serapi` will be working very soon.

[2017-10-01 09:34] VolkerStolz opened #43 "Docker image: missing files"
After grabbing the Docker image (Docker ID:bb06d89e5092e566c046fbbc28d055058dc410ba779396cd3b89a28f638b4a83), starting it and setting a local port, I only get as far as opening index.html -- everything stays blank as auxiliary included CSS and JS is not served:

[code]

[2018-12-07 02:23] ejgallego opened #44 "Serialization of Coq's types."
This is just a suggestion, but IMHO it would make sense to implement a small Coq program that given an OCaml type [for example, `constr_expr` , the Coq's AST] would generate the corresponding `.ts` file, including constructors from sexp.

IMHO that should save a lot of time; but maybe you are using already some other automatic method.

[2018-12-07 02:35] Ptival commented on #44
I agree. I wrote them manually because I had to get things going fast and dirty, but it's neither pleasant nor manageable.

Now that OCaml has ppx extensions, I wonder how hard it'd be to have it use this mechanism to do it? Or do you have any technical suggestion on how to achieve this? I'd love to generate those automatically.

[2018-12-07 03:09] ejgallego commented on #44
It should be "fairly easy", I am a bit busy right now but I would start from already existing projects that do similar things; basically you do a traversal on the AST and that is.

I am interesting doing this for both Python and TS, so keep me posted if you start something, if I do I'll ping you here too.

[2018-12-07 03:40] ejgallego commented on #44
Actually ppx is not even needed, we just a program that uses compiler-libs. Then, the basic scheme is very simple IMO:
[code]

[2018-12-07 05:04] Ptival commented on #44
I can look into it, I just graduated so I have a lot of free time for about
a month.

On Thu, Dec 6, 2018, 19:40 Emilio Jesús Gallego Arias <
notifications@github.com> wrote:

[2018-12-07 05:16] ejgallego commented on #44
Hey congrats @Ptival !! I guess you'll have way better things to do than to hack OCaml.

Anyways I actually wrote already a very small shim, find it here at https://github.com/ejgallego/ocaml-ts